<template>
    <div>
        <template v-if="isNew">
            <input type="text" @input="saveCustomColumn" v-model="column">

            <button class="bg-green-400 hover:bg-green-400 text-white font-bold px-1 border-b-4 border-green-700 hover:border-green-400 rounded" type="button" @click="toggleField">
                <icon-remove />
            </button>
        </template>

        <template v-else>
            <select v-model="column" @change="mapColumn">
                <option v-for="field in fields">{{ field }}</option>
            </select>
            <button class="bg-green-400 hover:bg-green-400 text-white font-bold px-1 border-b-4 border-green-700 hover:border-green-400 rounded" type="button" @click="toggleField">+</button>
        </template>
    </div>
</template>

<script>
    import IconOk from "@/Components/ImportContacts/IconOk";
    import IconRemove from "@/Components/ImportContacts/IconRemove";
    export default {
        name: "MappingField",
        components: {IconRemove, IconOk},
        props: {
            index: Number,
            fields: Array,
        },
        data() {
            return {
                isNew: false,
                column: ''
            }
        },
        methods: {
            saveCustomColumn() {
                this.$emit('mapColumn', {column: this.column, index: this.index})
            },
            toggleField() {
                this.clearColumn();
                this.mapColumn();
                this.isNew = !this.isNew;
            },
            clearColumn() {
                if (!this.isNew) {
                    this.column = '';
                    return;
                }

                if (this.fields[this.index]) {
                    this.column = this.fields[this.index];
                }
            },
            mapColumn() {
                this.$emit('mapColumn', {column: this.column, index: this.index})
            }
        },
        created() {
            this.column = this.fields[this.index];
        }
    }
</script>
