<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Step5: Add Contacts to list
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-4">
                    <form @submit.prevent="next" class="font-bold">
                        <div class="text-red-500 text-sm" v-if="errors.lists">{{ errors.lists }}</div>
                        Enter the list to import your contacts to:
                        <div class="my-2">

                            <template v-if="!addListMode">
                                <select class="border border-gray-700" @change="selectList" v-model="listModel" >
                                    <option v-for="(item, key) in listsOptions" :value="item.id">{{ item.name }}</option>
                                </select>
                                <button
                                    class="bg-green-400 hover:bg-green-400 text-white font-bold px-1 border-b-4 border-green-700 hover:border-green-400 rounded"
                                    type="button"
                                    @click="addNewList">+</button>
                            </template>

                            <template v-else>
                                <input class="border border-gray-700" type="text" v-model="list.name">

                                <button
                                    @click="addList"
                                    class="bg-green-400 hover:bg-green-400 text-white font-bold px-1 border-b-4 border-green-700 hover:border-green-400 rounded"
                                    type="button" >
                                    <icon-ok />
                                </button>

                                <button
                                    @click="cancelList"
                                    class="bg-green-400 hover:bg-green-400 text-white font-bold px-1 border-b-4 border-green-700 hover:border-green-400 rounded"
                                    type="button" >
                                    <icon-remove />
                                </button>
                            </template>
                        </div>
                    </form>

                    <div v-for="(item, index) in lists">
                        <span class="font-bold">{{ item.name }}</span>

                        <button
                            @click="deleteList(index)"
                            class="bg-green-400 hover:bg-green-400 text-white font-bold px-1 border-b-4 border-green-700 hover:border-green-400 rounded"
                            type="button" >
                                <icon-remove />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg flex justify-end p-2">
                    <loader v-if="loading" />
                    <template v-else>
                    <inertia-link class="bg-green-400 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded" :href="route('import-contacts.cancel')" method="get">Cancel</inertia-link>
                    <button class="bg-green-400 hover:bg-green-400 text-white ml-2 font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded" type="button" @click="next">Import</button>
                    </template>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import IconRemove from "@/Components/ImportContacts/IconRemove";
    import IconOk from "@/Components/ImportContacts/IconOk";
    import Loader from "@/Components/Loader";

    export default {
        components: {
            AppLayout,
            IconRemove,
            IconOk,
            Loader
        },
        props: {
            errors: Object,
            importLists: Object,
        },
        data() {
            return {
                addListMode: false,
                listModel: null,
                list: {
                    name: '',
                },
                lists: [],
                listsOptions: [],
                loading:false,
            }
        },
        watch: {
            errors(val) {
                this.loading = false;
            }
        },
        methods: {
            addNewList() {
                this.addListMode = true;
                this.listModel = null;
            },
            cancelList() {
                this.list.name = '';
                this.addListMode = false;
            },
            addList() {
                this.lists.push({
                    name: this.list.name
                });

                this.list.name = '';
                this.addListMode = false;
                this.listModel = null;
            },
            selectList() {
                let found = -1;

                this.listsOptions.forEach((item, ind) => {
                    if (item.id == this.listModel) {
                        found = ind
                    }
                });

                if (found > -1) {
                    this.lists.push(this.listsOptions[found]);
                }

                this.listsOptions.splice(found, 1);
                this.listModel = null;
            },
            deleteList(index) {
              if (this.lists[index].id) {
                  this.listsOptions.push(this.lists[index])
              }

              this.lists.splice(index, 1);
            },
            next() {
                this.loading = true;
                this.$inertia.post(this.route('import-contacts.step4'), {lists: this.lists})
            },
        },
        created() {
            this.importLists.data.forEach((item) => {
                this.listsOptions.push(item);
            })
        }
    }
</script>
