<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Step2: Map Fields
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-4">
                    <div class="file-info-wrapper">
                        <input type="file" style="display:none;" accept=".csv" ref="file"
                               @change="inputFileHandler()">
                        <div class="text-red-500 text-sm" v-if="errors.file">{{ errors.file }}</div>

                        <loader v-if="loading" />
                        <p v-else class="font-bold my-2">Found {{ file.rowsCount }} rows in {{ file.filename }}
                            <a @click.prevent="openFileDialog" class="text-blue-300" href="#">Upload different file</a>
                        </p>
                    </div>


                    <form  @submit.prevent="next">
                        <div class="text-red-500 text-sm" v-if="errors.columns">{{ errors.columns }}</div>
                        <table class="table-fixed border-collapse border border-gray-700 w-3/6 bg-gray-200">
                            <thead>
                                <tr>
                                    <th class="w-1/2 border border-gray-700">SpreadSheet field</th>
                                    <th class="w-1/2 border border-gray-700">Autopilot field</th>
                                </tr>
                            </thead>
                           <tbody>
                            <tr v-for="(spreadField, index) in file.fields">
                                <td class="border border-gray-700 py-1 px-1">{{ spreadField }}</td>
                                <td class="border border-gray-700 py-1 px-1">
                                    <mapping-field :index="index" :fields="contactColumns" @mapColumn="mapColumnHandler"/>
                                </td>
                            </tr>
                           </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg flex justify-end p-2">
                    <loader v-if="loading" />
                    <template v-else>
                        <inertia-link class="bg-green-400 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded" :href="route('import-contacts.cancel')" method="get">Cancel</inertia-link>
                        <button class="ml-2 bg-green-400 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded" type="button" @click="next">Continue</button>
                    </template>
               </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Loader from "@/Components/Loader";
    import MappingField from "@/Components/ImportContacts/MappingField";

    export default {
        components: {
            MappingField,
            Loader,
            AppLayout,
        },
        props: {
            errors: Object,
            contactColumns: Array,
            file: Object
        },
        data() {
            return {
                columns: [],
                loading:false,
                form: {
                    file: null,
                },
            }
        },
        watch: {
            errors(val) {
                this.loading = false;
            }
        },
        methods: {
            openFileDialog() {
                this.$refs['file'].click();
            },
            inputFileHandler() {
                this.form.file = this.$refs.file.files[0];
                this.submit()
            },
            submit() {
                this.loading = true;
                var formData = new FormData();
                formData.append('file', this.form.file);

                this.$inertia.post(this.route('import-contacts.step1'), formData)
            },
            mapColumnHandler(payload) {
                this.columns[payload.index] = payload.column;
            },
            next() {
                this.loading = true;
                this.$inertia.post(this.route('import-contacts.step2'), {columns: this.columns})
            },
        },
        created() {

            this.file.fields.forEach((item, ind) => {
                this.columns[ind] = this.contactColumns[ind] ? this.contactColumns[ind] : '';
            });
        }
    }
</script>
