<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Step1: Upload spreadsheet
            </h2>
            <p class="small">File must be CSV</p>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="import-file-wrapper flex justify-center py-5">

                        <loader v-if="loading" />

                        <form v-else @submit.prevent="submit">
                            <input type="file" style="display:none;" accept=".csv" ref="file"
                                   @change="inputFileHandler()">
                            <button
                                :disabled="loading"
                                class="bg-green-400 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded"
                                type="button"
                                @click="openFileDialog">Select File for import
                            </button>
                            <div class="text-red-500 text-sm" v-if="errors.file">{{ errors.file }}</div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Loader from "@/Components/Loader";

    export default {
        props: {
            errors: Object,
        },
        components: {
            Loader,
            AppLayout,
        },
        data() {
            return {
                form: {
                    file: null,
                },
                loading:false,
            }
        },
        watch: {
            errors(val) {
                this.loading = false;
            }
        },
        methods: {
            dropSelectedFile() {
                this.form.file = null;
                this.$refs['file'].value = null;
            },
            openFileDialog() {
                this.$refs['file'].click();
            },
            inputFileHandler() {
                this.form.file = this.$refs.file.files[0];
                this.submit()
            },
            submit() {
                this.loading = true;
                var formData = new FormData();
                formData.append('file', this.form.file);

                this.$inertia.post(this.route('import-contacts.step1'), formData)
            },
        },
    }
</script>
