<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Step3: Confirm mappings
            </h2>
            <p class="small">Confirm you'd correct mapping your fields</p>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-4">
                    <table class="table-fixed border-collapse border border-gray-700 w-3/6 bg-gray-200">
                        <thead>
                        <tr>
                            <th class="w-1/2 border border-gray-700">SpreadSheet field</th>
                            <th class="w-1/2 border border-gray-700">Autopilot field</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(spreadField, index) in spreadSheetFields">
                            <td class="border border-gray-700 py-1 px-1">{{ spreadField }}</td>
                            <td class="border border-gray-700 py-1 px-1">{{ mappedFields[index] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg flex justify-end p-2">
                    <loader v-if="loading" />
                    <template v-else>
                        <inertia-link class="bg-green-400 hover:bg-green-400  text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded" :href="route('import-contacts.cancel')" method="get">Cancel</inertia-link>
                        <inertia-link class="bg-green-400 hover:bg-green-400 ml-2 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-400 rounded" :href="route('import-contacts.step4')" method="get">Continue</inertia-link>
                    </template>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Loader from "@/Components/Loader";

    export default {
        components: {
            AppLayout,
            Loader,
        },
        props: {
            errors: Object,
            mappedFields: Array,
            spreadSheetFields: Array,
        },
        watch: {
            errors(val) {
                this.loading = false;
            }
        },
        data() {
            return {
                loading:false,
            }
        },
    }
</script>
